<div class="card z-index-2">
  <div class="card-header mx-4 p-3 text-center">
    <div
      class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg"
    >
      <i class="material-icons opacity-10">account_balance</i>
    </div>
  </div>
  <div class="card-body">
    <ng-container>
      <div class="row">
        <ng-container *ngIf="actualDebt > 0"
          ><p class="col-12 center">
            <b>{{ this.users[0] }}</b> doit
            <b>{{ actualDebtAbsolute | currency: "EUR" }} €</b> à
            <b>{{ this.users[1] }}</b>
          </p></ng-container
        >
        <ng-container *ngIf="actualDebt === 0"
          ><p class="col-12 center">
            La dette est à l'équilibre ! Personne ne doit à personne :)
          </p></ng-container
        >
        <ng-container *ngIf="actualDebt < 0"
          ><p class="col-12 center">
            <b>{{ this.users[1] }}</b> doit
            <b>{{ actualDebtAbsolute | currency: "EUR" }} €</b> à
            <b>{{ this.users[0] }}</b>
          </p></ng-container
        >
      </div>
      <div class="row">
        <ng-container *ngFor="let lastExpanse of lastExpanses">
          <p class="col-12 center">
            <b>{{ lastExpanse.debitor }}</b> a dernièrement dépensé
            <b>
              {{ lastExpanse.amount | currency: "EUR" }}
            </b>
            le :
            <b>
              {{ lastExpanse.transactionDate | date: "dd/MM/yyyy" }}
            </b>
            pour un
            <app-category-color
              [categoryName]="lastExpanse.type"
            ></app-category-color>
          </p>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
