<app-header></app-header>
<app-financial-datatab
  [data]="dataSeries"
  (deleteEntry)="deleteEntry($event)"
  (updateEntry)="updateEntry($event)"
></app-financial-datatab>
<app-debt-resume
  [data]="dataSeries"
  debitorSelected="Mehdi"
  creditorSelected="Sophia"
></app-debt-resume>
<app-debt-chart
  [data]="dataSeries"
  debitorSelected="Mehdi"
  creditorSelected="Sophia"
></app-debt-chart>
<app-financial-chart
  [data]="dataSeries"
  debitorSelected="Mehdi"
  creditorSelected="Sophia"
></app-financial-chart>
