<!-- Modal -->
<div
  class="modal fade"
  id="debtEdit"
  tabindex="-1"
  aria-labelledby="modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Dette</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="financialForm">
          <div class="row">
            <div class="col-2 align-self-center text-center">
              <span>Le :</span>
            </div>
            <div class="col-10">
              <!-- TransactionDate Ajout du champ Date :D -->
              <div class="input-group input-group-static my-3">
                <label>Date</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="transactionDate"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <div
                class="input-group input-group-dynamic my-3"
                [class.is-filled]="financialForm.get('debitor')?.value"
              >
                <label for="debitor" class="form-label">Débiteur</label>
                <input
                  type="text"
                  id="debitor"
                  class="form-control"
                  formControlName="debitor"
                  [attr.disabled]="initialData && initialData.id"
                />
              </div>
            </div>
            <div class="col-4 align-self-center text-center">
              <span>doit à</span>
            </div>
            <div class="col-4">
              <div
                class="input-group input-group-dynamic my-3"
                [class.is-filled]="financialForm.get('creditor')?.value"
              >
                <label for="creditor" class="form-label">Créditeur</label>
                <input
                  type="text"
                  id="creditor"
                  class="form-control"
                  formControlName="creditor"
                  [attr.disabled]="initialData && initialData.id"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div
                class="input-group input-group-dynamic my-3"
                [class.is-filled]="financialForm.get('amount')?.value"
              >
                <label for="amount" class="form-label">Montant</label>
                <input
                  type="number"
                  id="amount"
                  class="form-control"
                  formControlName="amount"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-group input-group-static my-3">
                <label for="type" class="ms-0">Catégorie</label>
                <input
                  id="type"
                  formControlName="type"
                  type="hidden"
                  value=""
                />
                <div class="button-list">
                  <ng-container *ngFor="let type of types">
                    <button
                      type="button"
                      class="btn btn-primary btn-sm button-item"
                      [ngClass]="{
                        'btn-primary':
                          financialForm.get('type')?.value !== type.name,
                        'btn-outline-primary':
                          financialForm.get('type')?.value === type.name
                      }"
                      (click)="financialForm.get('type')?.setValue(type.name)"
                    >
                      {{ type.name }}
                    </button>
                    <div></div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div
                class="input-group input-group-dynamic my-3"
                [class.is-filled]="financialForm.get('reason')?.value"
              >
                <label for="description" class="form-label">Description</label>
                <input
                  type="text"
                  id="reason"
                  class="form-control"
                  formControlName="reason"
                />
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="submitForm()"
        >
          Sauvegarder
        </button>
      </div>
    </div>
  </div>
</div>
