.table-responsive {
  overflow-x: hidden;
  max-height:200px;
  @media screen and (max-width:992px) {
    max-height:270px;
  }
}

.fixed-button {
  position: fixed;
  top: calc(100vh - 60px);
  left: calc(100vw - 90px);
  z-index:10;
}

.no-item{
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  font-size: 1.2em;
  background-color: lightgray;
}
