<div class="main-content position-relative border-radius-lg">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div
              class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
            >
              <p class="text-white text-capitalize ps-3">Feuilles de dettes</p>
            </div>
          </div>

          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table
                class="table table-striped align-items-center mb-0 d-none d-md-table"
              >
                <thead>
                  <tr>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      Nom
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Description
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Par
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Le
                    </th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let debtSheet of data">
                    <tr
                      class="bg-gray-100 tableRow"
                      (click)="goToSheet($event, debtSheet.id)"
                    >
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs text-secondary mb-0">
                          {{ debtSheet.name }}
                        </p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs text-secondary mb-0">
                          {{ debtSheet.description }}
                        </p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs text-secondary mb-0">
                          {{ debtSheet.createdBy }}
                        </p>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs">
                          {{ debtSheet.createdAt | date: "dd/MM/yyyy" }}</span
                        >
                      </td>
                      <td class="align-middle text-center">
                        <a
                          href="#debtSheetEdit"
                          data-bs-toggle="modal"
                          data-bs-target="#debtSheetEdit"
                          (click)="selectDebtSheet($event, debtSheet)"
                        >
                          <i class="material-icons">edit</i>
                        </a>
                        <i
                          class="material-icons"
                          (click)="deleteDebtSheet($event, debtSheet.id)"
                          >close</i
                        >
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>

              <table
                class="table table-striped align-items-center mb-0 d-md-none"
              >
                <tbody>
                  <ng-container *ngFor="let debtSheet of data">
                    <tr
                      class="bg-gray-100 tableRow d-flex flex-column mb-2"
                      (click)="goToSheet($event, debtSheet.id)"
                    >
                      <td class="align-middle text-center text-sm">
                        <div class="row d-flex flex-row">
                          <p class="text-xs text-secondary mb-0 col-6">Nom :</p>
                          <p class="text-xs text-secondary mb-0 col-6">
                            {{ debtSheet.name }}
                          </p>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <div class="row d-flex flex-row">
                          <p class="text-xs text-secondary mb-0 col-6">
                            Description :
                          </p>
                          <p
                            class="text-xs text-secondary mb-0 col-6 flex-wrap"
                          >
                            {{ debtSheet.description }}
                          </p>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <div class="row d-flex flex-row">
                          <p class="text-xs text-secondary mb-0 col-6">Par :</p>
                          <p class="text-xs text-secondary mb-0 col-6">
                            {{ debtSheet.createdBy }}
                          </p>
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <div class="row d-flex flex-row">
                          <p class="text-xs text-secondary mb-0 col-6">Le :</p>
                          <span class="text-secondary text-xs col-6">
                            {{ debtSheet.createdAt | date: "dd/MM/yyyy" }}</span
                          >
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <div class="row d-flex flex-row">
                          <div class="col-6">
                            <p class="text-xs text-secondary">Actions:</p>
                          </div>
                          <div class="col-6">
                            <a
                              href="#debtSheetEdit"
                              data-bs-toggle="modal"
                              data-bs-target="#debtSheetEdit"
                              (click)="selectDebtSheet($event, debtSheet)"
                            >
                              <i class="material-icons">edit</i>
                            </a>
                            <i
                              class="material-icons"
                              (click)="deleteDebtSheet($event, debtSheet.id)"
                              >close</i
                            >
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-primary fixed-button"
    data-bs-toggle="modal"
    data-bs-target="#debtSheetEdit"
  >
    <i class="material-icons">add</i>
  </button>
</div>
<app-debt-sheet-edit [initialData]="debtSheetSelected"></app-debt-sheet-edit>
