<div
  class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div
              class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
            >
              <p class="text-white text-capitalize ps-3">Feuilles de dettes</p>
            </div>
          </div>

          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      Nom
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Description
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Par
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Le
                    </th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let debtSheet of data">
                    <tr
                      class="bg-gray-100 tableRow"
                      (click)="goToSheet($event, debtSheet.id)"
                    >
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs text-secondary mb-0">
                          {{ debtSheet.name }}
                        </p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs text-secondary mb-0">
                          {{ debtSheet.description }}
                        </p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs text-secondary mb-0">
                          {{ debtSheet.createdBy }}
                        </p>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs">
                          {{ debtSheet.createdAt | date: "dd/MM/yyyy" }}</span
                        >
                      </td>
                      <td class="align-middle">
                        <a
                          href="#debtSheetEdit"
                          data-bs-toggle="modal"
                          data-bs-target="#debtSheetEdit"
                          (click)="selectDebtSheet($event, debtSheet)"
                        >
                          <i class="material-icons">edit</i>
                        </a>
                        <i
                          class="material-icons"
                          (click)="deleteDebtSheet($event, debtSheet.id)"
                          >close</i
                        >
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-primary sticky-button"
    data-bs-toggle="modal"
    data-bs-target="#debtSheetEdit"
  >
    <i class="material-icons">add</i>
  </button>
</div>
<app-debt-sheet-edit [initialData]="debtSheetSelected"></app-debt-sheet-edit>
